body
{
    background-color: hsl(218, 44%, 22%);
    max-width: 600px;
    width: 100%;
}
.container
{
   height: 450px;
   width: 300px;
   background-color: hsl(212, 45%, 89%);
   left: 50%;
   top:50%;
   position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 4%;
}
.card
{
    padding: 14px;
    height: 50%;
    width: 100%;
}
.card img
{
    height:110%;
    width: 90%;
    border-radius: 4%;
}
.content
{
    text-align: center;
}
.content p
{
    color: #262626;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
   
}
.content2
{
    text-align: center;
}
.content2 p
{
    color: #262626;
    font-size: 17px;
    font-family: sans-serif;
    opacity: 70;
   
}
